<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="maket(local_insert)">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: 'Медицинская система'">Медицинская система</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/main.js}" defer></script>
</head>
<body>

<div th:replace="~{layout/header :: header}"></div>

<main>
    <div th:replace="${local_insert}"></div>
</main>

<div th:replace="~{layout/footer :: footer}"></div>

<script th:src="@{/js/dist/bundle.js}"></script>
</body>
</html>