<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание записи</title>
</head>
<body>

<h2>Создание истории болезни</h2>
<form th:action="@{/web/disease-history}" method="post" th:object="${diseaseHistory}">
    <input type="hidden" th:if="${diseaseHistory.recordId != null}" th:field="*{recordId}" />

    <label>Фамилия врача: <input type="text" th:field="*{lastNameDoctor}" required /></label><br/>
    <label>Имя врача: <input type="text" th:field="*{firstNameDoctor}" required /></label><br/>
    <label>Профессия врача: <input type="text" th:field="*{profession}" required /></label><br/>

    <label>Начало лечения: <input type="datetime-local" th:field="*{startDate}" required /></label><br/>
    <label>Окончание лечения: <input type="datetime-local" th:field="*{endDate}" required /></label><br/>

    <label>Диагноз: <textarea th:field="*{disease}" required></textarea></label><br/>

    <!-- Эти поля будут установлены автоматически в контроллере, поэтому их можно скрыть или удалить -->
    <label>ID врача: <input type="number" th:field="*{doctorId}" required /></label><br/>
    <label>ID клиента: <input type="number" th:field="*{clientId}" required /></label><br/>

    <button type="submit">Сохранить</button>
</form>

</body>
</html>

