<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>  <link rel="stylesheet" th:href="@{/css/Style_something.css}" href="../../css/styles.css"></head>
<h2>Детали истории болезни</h2>

<p><strong>ФИО врача:</strong> <span th:text="${diseaseHistory.lastNameDoctor + ' ' + diseaseHistory.firstNameDoctor}"></span></p>
<p><strong>Профессия:</strong> <span th:text="${diseaseHistory.profession}"></span></p>
<p><strong>Начало лечения:</strong> <span th:text="${#temporals.format(diseaseHistory.startDate, 'yyyy-MM-dd HH:mm')}"></span></p>
<p><strong>Окончание лечения:</strong> <span th:text="${#temporals.format(diseaseHistory.endDate, 'yyyy-MM-dd HH:mm')}"></span></p>
<p><strong>Диагноз:</strong> <span th:text="${diseaseHistory.disease}"></span></p>

<h3>Связанные приёмы</h3>
<ul>
    <li th:each="record : ${diseaseHistory.appointmentRecords}">
        <span th:text="${record.appointmentDate}">Дата</span>
        <span th:text="${record.appointmentTime}">Время</span>
        <span th:text="${record.serviceName}">Услуга</span>
    </li>
</ul>

<div style="margin-top: 20px; text-align: left;">
    <a href="/client/dashboard" class="button" style="text-decoration: none;">Возвращение на основную страницу</a>
</div>