<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{layout/base :: maket(~{::dashboard})}">
    <th:block th:fragment="dashboard">

        <h2>Переход на dashboard.html после login.html</h2>
        <h1>Добро пожаловать в личный кабинет</h1>

        <div class="logout-container">
            <button id="logoutBtn">Выйти</button>
            <script src="/js/logout.js"></script>
        </div>


        <div th:if="${успешно}" class="alert success">
            <p th:text="${успешно}">Профиль обновлен</p>
        </div>

        <div th:if="${ошибка}" class="alert error">
            <p th:text="${ошибка}">Ошибка при обновлении профиля</p>
        </div>

        <h2 th:unless="${isAdminOrDoctor}">Ваш профиль</h2>
        <form th:unless="${isAdminOrDoctor}" th:action="@{/client/profile}" method="post" th:object="${client}" >
            <label>Имя:
                <input type="text" th:field="*{firstName}" required/>
            </label><br/>

            <label>Фамилия:
                <input type="text" th:field="*{lastName}" required/>
            </label><br/>

            <label>Возраст:
                <input type="number" th:field="*{age}" required/>
            </label><br/>

            <label>Пол:
                <input type="text" th:field="*{gender}" required/>
            </label><br/>

            <label>Адрес:
                <input type="text" th:field="*{address}" required/>
            </label><br/>

            <label>Паспорт:
                <input type="text" th:field="*{passport}" required/>
            </label><br/>

            <button type="submit">Обновить профиль</button>
        </form>


        <!-- Список пациентов (React) -->
        <div th:if="${isAdminOrDoctor}">
            <h2>Список пациентов</h2>
            <div id="react-patient-manager-container"></div>
        </div>

        <hr/>


        <!-- Записи на приём (React) -->
        <div th:if="${isAdminOrDoctor}">
            <h2>Записи всех пациентов</h2>
            <div id="react-appointment-record-manager-container"></div>
        </div>


        <!-- Сообщение для доктора / админа -->
        <div th:if="${isAdminOrDoctor}">
            <p>Вы можете просматривать все записи, но не можете создавать новые.</p>
        </div>

        <hr/>

        <!-- История болезней React -->
        <div>
            <h2 th:if="${isAdminOrDoctor}">История болезни</h2>
            <h2 th:unless="${isAdminOrDoctor}">Ваша история болезни</h2>
            <div id="react-disease-history-manager-container" th:attr="data-user-role=${role}"></div>
        </div>


        <hr/>

        <!-- Результаты анализов React -->
        <div>
            <h2 th:if="${isAdminOrDoctor}">Все результаты анализов</h2>
            <h2 th:unless="${isAdminOrDoctor}">Ваши результаты анализов</h2>
            <div id="react-analysis-result-manager-container" th:attr="data-user-role=${role}"></div>
        </div>


        <!-- Таблица докторов React -->
        <div>
            <h2>Таблица докторов</h2>
            <div id="react-doctor-manager-container" th:attr="data-user-role=${role}"></div>
        </div>

        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/auth/register/client}">Зарегистрировать нового клиента</a>
        </div>

        <button onclick="openModal('changePasswordModal')">Сменить пароль</button>
        <div th:replace="~{change_password :: modal}"></div>

        <a href="#" sec:authorize="hasRole('ADMIN')" onclick="openAddDoctorModal()">Добавить доктора</a>

    </th:block>
</th:block>
</html>
