.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.data-table thead tr {
    background-color: #2c3e50;
    color: #fffff1;
    text-align: left;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
    text-align: center;
}

.data-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.data-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.data-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Стили кнопок */
.data-table .action-button {
    border: #009879;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.action-button.edit {
    background-color: #fff;       /* белый фон */
    color: #2c3e50;              /* тёмно-серый текст */
    font-weight: bold;           /* полужирный */
    border: 1px solid #3498db;   /* синяя граница */
    border-radius: 3px;          /* радиус 3px */
    padding: 8px 16px;           /* немного отступов для красоты */
    cursor: pointer;             /* курсор-рука */
    transition: all 0.3s ease;   /* плавный переход при наведении */
}

.action-button.edit:hover {
    background-color: #3498db;  /* например, делаем фон синим */
    color: #fff;               /* меняем цвет текста для контраста */
}

.action-button.delete {
    background-color: #e74c3c;
    color: navajowhite;
}

.action-button.view {
    background-color: #3498db;
    color: navajowhite;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.show {
    display: flex;
}



