<!-- адаптировать, сохранить для сохранения баланса тоталитаризма во вселенной, хотя это тоже слишком -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать клиента</title>
</head>
<body>
<th:block th:fragment="content">
    <div id="editClientModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal('editClientModal')">&times;</span>
            <h1>Редактировать данные клиента</h1>
            <form th:action="@{'/web/clients/' + ${client.id}}" method="post" th:object="${client}">
                <label>Возраст: <input type="text" th:field="*{age}" required/></label><br>
                <label>Пол: <input type="text" th:field="*{gender}" required/></label><br>
                <label>Фамилия: <input type="text" th:field="*{lastName}" required/></label><br>
                <label>Имя: <input type="text" th:field="*{firstName}" required/></label><br>
                <label>Паспорт: <input type="text" th:field="*{passport}" required/></label><br>
                <label>Логин: <input type="text" th:field="*{login}" required/></label><br>
                <label>Пароль: <input type="password" th:field="*{password}" required/></label><br>
                <button type="submit">Сохранить</button>
                <button type="button" onclick="closeModal('editDoctorModal')">Отмена</button>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>
