<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modal" id="changePasswordModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('changePasswordModal')">&times;</span>
        <h2>Смена пароля</h2>

        <form th:action="@{/client/change-password}" method="post">
            <div>
                <label for="oldPassword">Старый пароль:</label>
                <input type="password" id="oldPassword" name="oldPassword" required>

                <label for="newPassword">Новый пароль:</label>
                <input type="password" id="newPassword" name="newPassword" required>

                <label for="confirmPassword">Подтвердите новый пароль:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

            <br/>

            <button type="submit" class="button">Сменить пароль</button>
            <button type="button" class="button button-cancel" onclick="closeModal('changePasswordModal')">Отмена</button>
        </form>
    </div>
</div>
</body>
</html>