<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modal" id="changePasswordModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('changePasswordModal')">&times;</span>
        <h2>Смена пароля</h2>

        <form th:action="@{/client/change-password}" method="post" class="modal-form">
            <div class="form-group">
                <label>Старый пароль:</label>
                <input type="password" name="oldPassword" required>
            </div>
            <div class="form-group">
                <label>Новый пароль:</label>
                <input type="password" name="newPassword" required>
            </div>
            <div class="form-group">
                <label>Подтвердите пароль:</label>
                <input type="password" name="confirmPassword" required>
            </div>

            <div class="modal-actions">
                <button type="submit" class="button">Сменить пароль</button>
                <button type="button" class="button-secondary button" onclick="closeModal('changePasswordModal')">Отмена</button>
            </div>
        </form>
    </div>
</div>
</html>