<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/base :: maket(~{::register})}">
    <th:block th:fragment="register">
        <div th:fragment="register_content" class="form-container">
            <h2>Регистрация клиента</h2>
            <form th:action="@{/auth/register/client}" method="post" class="form" th:object="${clientDTO}">
                <label for="firstName">Имя:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>

                <label for="lastName">Фамилия:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>

                <label for="age">Возраст:</label>
                <input type="number" id="age" name="age" th:field="*{age}" required>

                <label for="gender">Пол:</label>
                <select id="gender" name="gender" th:field="*{gender}" required>
                    <option value="">-- Выберите пол --</option>
                    <option value="MALE">Мужской</option>
                    <option value="FEMALE">Женский</option>
                </select>

                <label for="address">Адрес:</label>
                <input type="text" id="address" name="address" th:field="*{address}">

                <label for="passport">Паспорт:</label>
                <input type="text" id="passport" name="passport" th:field="*{passport}" required>

                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" th:field="*{login}" required>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>

                <button type="submit" class="button">Зарегистрироваться</button>
                <div style="margin-top: 20px; text-align: center;">
                    <a href="/" class="button" style="text-decoration: none;">На главную</a>
                </div>
            </form>
        </div>
    </th:block>
</th:block>
