<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать врача</title>
</head>
<body>
<h1>Редактировать данные врача</h1>
<form th:action="@{'/web/doctors/' + ${doctor.id}}" method="post" th:object="${doctor}">
    <label>Фамилия: <input type="text" th:field="*{lastName}" required/></label><br>
    <label>Имя: <input type="text" th:field="*{firstName}" required/></label><br>
    <label>Специализация: <input type="text" th:field="*{specialization}" required/></label><br>
    <label>Опыт работы: <input type="text" th:field="*{experience}" required/></label><br>
    <label>Логин: <input type="text" th:field="*{login}" required/></label><br>
    <label>Пароль: <input type="password" th:field="*{password}" required/></label><br>
    <button type="submit">Сохранить</button>
    <button type="button" onclick="closeModal('editDoctorModal')">Отмена</button>
</form>
</body>
</html>
