<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о враче</title>
</head>
<body>
<h1>Информация о враче</h1>
<p>Идентификатор врача: <span th:text="${doctor.id}">1</span></p>
<p>Фамилия: <span th:text="${doctor.lastName}">Иванов</span></p>
<p>Имя: <span th:text="${doctor.firstName}">Иван</span></p>
<p>Специализация: <span th:text="${doctor.specialization}">Терапевт</span></p>
<p>Опыт: <span th:text="${doctor.experience}">5 лет</span></p>
<p>Логин: <span th:text="${doctor.login}">ivanov</span></p>
<a th:href="@{/client/dashboard}">Назад</a>
</body>
</html>
