<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Просмотр записи</title></head>
<body>
<h1>Просмотр записи</h1>
    <p><strong>Дата:</strong> <span th:text="${record.appointmentDate}"></span></p>
    <p><strong>Время:</strong> <span th:text="${record.appointmentTime}"></span></p>
    <p><strong>Доктор ID:</strong> <span th:text="${record.doctorId}"></span></p>
    <p><strong>Услуга:</strong> <span th:text="${record.serviceName}"></span></p>
    <a th:href="@{/web/appointments}">Назад</a>
</body>
</html>
